body {
    background: url(/img/background.jpg);
}

ul {
    font-family: 'Rubik';
    font-size: 20px;
    list-style: none;
    height: 50px;
    padding-left: 2px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 50px;
    padding: 0 25px;
    border-right: 2px solid #fff;
    transition: .3s all ease;
    display: block;
}

li {
    float: left;
}

a:hover {
    background-color: rgb(64, 228, 240);
}

.log {
    display: flex;
    justify-content: right;
    margin-top: -100px;
}